<!DOCTYPE html>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
            $(document).ready(function(){
               $.getJSON("http://localhost:9090/products", function(result){
                  $.each(result, function(key,value) {
                     $("#productsJson").append(value.id+" "+value.name+" ");
                  });
               });
            });


    </script>
</head>

<body>
<h4>product info:</h4>
<div id="productsJson"></div>

</body>
</html>